<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785922349117-4gsp4inf1ugvcol861ki6opmloj7s15q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785922349117-4gsp4inf1ugvcol861ki6opmloj7s15q</string>
	<key>API_KEY</key>
	<string>AIzaSyB-OFVZXuD6GtBXCyahTe0THx08h0CIMT0</string>
	<key>GCM_SENDER_ID</key>
	<string>785922349117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.fiap.hwMobiledevelopmentMoneycontrol</string>
	<key>PROJECT_ID</key>
	<string>fiap-mba-e2db0</string>
	<key>STORAGE_BUCKET</key>
	<string>fiap-mba-e2db0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785922349117:ios:57745d000fe4cf5b6d7254</string>
</dict>
</plist>